<!DOCTYPE html>

<html>
    <head>
        <title>Anirudh | <%= sentTitle%></title>
    </head>
    <body>

      
        <nav>
            <div class="site-title">
                <a href="/"><h1>Blog</h1></a>
                <p>my site</p>
            </div>

            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
         </nav>



         <div class="about-content">
            <p>Hi I am Anirudh. I am a genius.</p>
         </div>

    </body>
</html>