<!DOCTYPE html>
<html>
    <head>
        <title>Anirudh | <%= sentTitle%></title>
    </head>
    <body>


        <nav>
            <div class="site-title">
                <a href="/"><h1>Blog</h1></a>
                <p>my site</p>
            </div>

            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
         </nav>

         <div class="blog-content">
            <form>
                <label for="title">Blog Title</label>
                <input id="title" type="text" required>
                <label for="snippet">Snippet</label>
                <input id="snippet" type="text" required>
                <label for="body">Blog Text</label>
                <textarea id="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>