<!DOCTYPE html>
<html>
    <%- include('./Partials/head.ejs') %>
    <body>
     
        <%- include('./Partials/nav.ejs') %>



         <div class="notfound-content">
            <p>404 error</p>
         </div>

         <%- include('./Partials/foot.ejs') %>

    </body>
</html>