<!DOCTYPE html>

<html>
    <%- include('./Partials/head.ejs') %>
    <body>

        <%- include('./Partials/nav.ejs') %>



         <div class="about-content">
            <p>Hi I am Anirudh. I am a genius.</p>
         </div>
         <%- include('./Partials/foot.ejs') %>
    </body>
</html>